/* 
px — pixels 100px is exactly 100 pixels in all situations

em — (element or parent element) font size multiplier, based on the font-size of the parent (or current element) 1em is 1 × the parent element’s size, 0.5em is 0.5 × the parent element’s size. 

rem — (root element)based on the font-size set in the html element (16px) 1.5rem is 1.5 × the html element’s font size

% — a percentage of the parent element 100% is to whole width of the parent element If the parent element is 50% wide, and this element is 50% wide, then it only takes up 25% of the original grand parent element

vh — (viewport height)like percentage, but based on the height of the window 100vh is the whole height of the window 50vh is half the height of the window

vw — (viewport width)like percentage, but based on the width of the window
*/


.primary-title {

    /* Font props */
    font-weight: bold;
    font-style: italic;
    font-size: 4rem;
    line-height: 1.5; /* loose line-height has been shown to be more readable */
    /* responsive typography, minimum 3rem max 4.5rem, 5vw: viewport window, clamp(MIN, VAL, MAX) */
    font-size: clamp(3rem, calc(5vw + 1rem), 4.5rem);



    /* Text decoration */
    text-transform: uppercase;
    text-decoration: line-through;
    text-align: center;
    text-indent: 1em;
    text-shadow: teal;
}